/* General settings */

:root {
  --title-color: #2e2f42;
  --text-color: #434455;
  --main-background-color: #ffffff;
  --secondary-btn-color: #404bbf;
  --secondary-navlink-color: #404bbf;
  --primary-filter-btn-color: #f4f4fd;
  --secondary-filter-btn-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--main-background-color);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--title-color);
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* MAIN PAGE styles */

/* 1. Header */
/* 1.1 The logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}

.web {
  color: #4d5ae5;
}

.studio {
  color: #2e2f42;
}

/* 1.2 Navigation between site pages*/

.navigation-list .navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-color);
}

.navigation-list .navigation-link:hover,
.navigation-list .navigation-link:focus {
  color: var(--secondary-navlink-color);
}

.navigation-list .navigation-link:active {
  color: var(--secondary-navlink-color);
}

/* 1.3 Address mail & tel */

.contacts .contact-link {
  font-size: 16px;
  line-height: 1.5;
}

.contacts .contact-link:hover,
.contacts .contact-link:focus {
  color: var(--secondary-navlink-color);
}

.contacts .contact-link:active {
  color: var(--secondary-navlink-color);
}

/* 2. Main */
/* 2.1 The slogan & order sevice */

.hero {
  background-color: #2e2f42;
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  width: 500px;
}

.hero-button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: var(--secondary-btn-color);
}

/* 2.2 Competencies & our features */

.features-list p {
  font-size: 16px;
  line-height: 1.5;
}

/* 2.3 Our team */
.team {
  background-color: #f4f4fd;
}

.team-list li {
  background-color: #ffffff;
}

.team-list p {
  font-size: 16px;
  line-height: 1.5;
}

/* 3. Footer */

.footer {
  background-color: #2e2f42;
}

.footer p {
  font-size: 16px;
  line-height: 1.5;
  color: #e7e9fc;
}

.studio1 {
  color: #f4f4fd;
}

.logo {
  word-spacing: -10px;
}

/* PORTFOLIO styles */

/* 1. Navigation filter */
/* 1.1 Select buttons */

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #4d5ae5;
  background-color: var(--primary-filter-btn-color);
  border-color: #e7e9fc;
  cursor: pointer;
}

.filter-list .filter-btn:hover,
.filter-list .filter-btn:focus {
  color: #ffffff;
  background-color: var(--secondary-filter-btn-color);
}

/* 1.2 Select menu */

.select-menu p {
  font-size: 16px;
  line-height: 1.5;
}
